.form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    transition: 1s;
    background-color: var(--secondary-color);
}

.form-input{
    border-radius: 13px;
}

.form-login{
background-color: var(--secondary-color);
}

.form-register{
    background-color: var(--secondary-color);
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
    
}

.login-container.move .form-login{
    transform: translateX(100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-register{
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

.form-title{
    font-size: 3rem;
    font-weight: 400;
}

.form-title-light{
    color: var(--text-color-light);
}

.form-social{
    display: flex;
    gap: 24px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px #0004;
    background-color: var(--icon-color);
    transition: .5s;
}

.social-icon:hover{
    background-color: var(--primary-color);
    transform: translateY(-15%);
    color: var(--secondary-color);
}


@media (max-width:768px){
    .form{
        width: 100%;
        justify-content: space-evenly;
    }
    .form-register{
        position: absolute;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        transform: translateX(100%);
    }
    .login-container.move .form-register{
        transform: translateX(0%);
    }

}